PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-host>/unimentor?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=7d
NODE_ENV=development

# Email Verification (Gmail SMTP)
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASS=your_16_digit_google_app_password

# Face++ Biometric Face Verification
FACEPP_API_KEY=your_facepp_api_key_here
FACEPP_API_SECRET=your_facepp_api_secret_here
